* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.main img {
  max-width: 50%;
}
.logo {
  width: 70px;
  height: 70px;
}
.contenedor {
  width: 100%;
  margin: auto;
}
.header {
  height: 80px;
  background: #212121;
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
}
.logo,
.icon-bars {
  margin: 5px;
  color: white;
}
.icon-bars {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #212121;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
}
.menu--item {
  color: white;
}
.nav {
  position: absolute;
  top: 80px;
  left: -100%;
  width: 100%;
  z-index: 100;
  transition: all 0.5s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
}
.menu__link {
  display: block;
  padding: 15px;
  background: rgba(51, 51, 51, 0.9);
  color: white;
  height: 60px;
  border-bottom: 1px solid white;
  text-decoration: none;
}
.menu__link:hover {
  background: white;
  color: black;
}
.muestrate {
  left: 0;
}
.banner video {
  width: 100%;
}
.banner {
  position: relative;
  text-align: center;
}
.banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.info {
  background: black;
  color: white;
  text-align: center;
}
.info img {
  border-radius: 50%;
  border: 7px solid #212121;
}
.info__txt {
  text-align: justify;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.mapa {
  background: #f0ede5;
  padding: 15px;
  text-align: center;
}
.mapa h3 {
  font-size: 30px;
}
.mapa p {
  text-align: justify;
}
.footer {
  background: #f0ede5;
  color: black;
  padding: 10px;
  text-align: center;
}
.footer img {
  width: 70px;
  margin-right: 10px;
  border: 5px solid #f0ede5;
}
@media (min-width: 500px) {
  .info__columna {
    width: 50%;
  }
  .info .contenedor {
    display: flex;
    justify-content: space-between;
  }
}
.texto_mapa {
  margin: 20px;
}
.container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}
.big-number {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
}
.apertura {
  margin-top: 20px;
  margin-bottom: 10px;
}
.banner .contenedor h1 {
  margin: 10px;
}





